button {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;

  margin: 1em 0; /* 前後の隙間 */
  padding: 0.4em 1.5em; /* 塗りの余白 */
  border: solid 1px #00764c;
  font-size: 1em; /* フォントサイズ */
  background-color: #FFF; /* 背景色 */
  color: #00764c; /* テキストカラー */
  cursor: pointer; /* カーソルを指マークに */
  border-radius: 100px; /* 角の丸み */
}
@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);

/*** basic styles ***/
label { font-size: 24px;}

/*** custom checkboxes ***/

input[type=checkbox] { display:none; } /* to hide the checkbox itself */
input[type=checkbox] + label:before {
  font-family: ;
  display: inline-block;
}

input[type=checkbox] + label:before { content: "\f096"; } /* unchecked icon */
input[type=checkbox] + label:before { letter-spacing: 10px; } /* space between checkbox and label */

input[type=checkbox]:checked + label:before { content: "\f046"; } /* checked icon */
input[type=checkbox]:checked + label:before { letter-spacing: 5px; } /* allow space for check mark */
